{
    ApplicationDescription = "Manage ZFS Boot Environments";
    ApplicationName = "Boot Environments";
    ApplicationRelease = "0.1";
    Authors = (
	"Simon Peter"
    );
    CFBundleIdentifier = "com.github.probonopd.BootEnvironments";
    Copyright = "Copyright (C) 2020 Simon Peter";
    CopyrightDescription = "Released under BSD 2-clause License";
    FullVersionID = "0.1";
    GSMainMarkupFile = "";
    NSExecutable = "Boot Environments";
    NSIcon = "Resources/Boot Environments.png";
    NSMainNibFile = "";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}
