{
    ApplicationDescription = "Set the keyboard language";
    ApplicationName = "Keyboard";
    ApplicationRelease = "0.1";
    Authors = (
	"Simon Peter"
    );
    CFBundleIdentifier = "com.github.probonopd.Keyboard";
    Copyright = "Copyright (C) 2020 Simon Peter";
    CopyrightDescription = "Released under BSD 2-clause License";
    FullVersionID = "0.1";
    GSMainMarkupFile = "";
    NSExecutable = Keyboard;
    NSIcon = "Resources/Keyboard.png";
    NSMainNibFile = "";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}